

<ul class="topnav">
    <li class="logo"><a href="{% url 'home' %}"></a></li>
    <li><a href="{% url 'contacts' %}">Contacts</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
    {% if user.is_authenticated %}
        <li id='balance'>{{ user.profile.balance }} coins</li>
    {% endif %}
    <li class="user">
        {% if user.is_authenticated %}
            <a href="{% url "users:profile" %}">{{ user.username }}</a>
        {% else %}
            <a href="{% url 'users:login' %}">Log in</a>
        {% endif %}
    </li>
</ul>

