

<div class="container">
    <div class="indicator"></div>
    <div class="wheel">
        {% for num, color in fields.items %}
            <div class="field" style="--i:{{ forloop.counter }};--clr:{{ color }}">
                <span>{{ num }}</span>
            </div>
        {% endfor %}
    </div>
    <div class="spin-btn">Spin</div>
</div>

<div class="betting-board">
     <form action="" method="POST">
         {% csrf_token %}

        {{ form.as_p }}
     
        {% if bet_amount %}
            <p>Your bet is {{ bet_amount }} coins.</p>
            <p>bet_type: {{ bet_type }}</p>
            <p>bet_value: {{ bet_value }}</p>
            <p>result_value: {{ result_value }}</p>
            {% if is_win %}
                <p>Win</p>
            {% else %}
                <p>Lose</p>
            {% endif %}
        {% endif %}
        <div class="roulette-bet-choise">
            {% for num, color in fields_in_order.items %}
                {% if num == '0' %}
                    <div class="r-num" data-value="{{ num }}" style="background: green; height: 150px; grid-row: span 3;">{{ num }}</div>
                {% else %}
                    <div class="r-num" data-value="{{ num }}" style="background: {{ color }}">{{ num }}</div>
                {% endif %}
            {% endfor %}
                <div class="row" style="">2to1</div>
                <div class="row" style="">2to1</div>
                <div class="row" style="">2to1</div>
                <div class="twelve-row">
                    <div class="twelve">1st 12</div>
                    <div class="twelve">2nd 12</div>
                    <div class="twelve">3d 12</div>
                </div>
                <div class="bottom-row">
                    <div class="low">1-18</div>
                    <div class="even">EVEN</div>
                    <div class="black" style="background: black">black</div>
                    <div class="red" style="background: red">red</div>
                    <div class="odd">ODD</div>
                    <div class="high">19-36</div>
                </div>
        </div>
        <button type="submit">Apply bet</button>
    </form>
</div>